.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    grid-gap: 50px;
}
.grid-item {
    padding: 30px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}
.grid-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459);
}
.product-photo {
    height: 150px;
    width: 200px;
}
.font {
    font-family: 'Raleway', sans-serif;
}
.logo {
    height: 200px;
    width: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}
a:link {
    text-decoration: none;
    padding-right: 35px;
    padding-left: 37px;
    text-align: center;
    background-color: rgba(37, 78, 153, 0.205);
    color: black;
}
.nav-bar {
    text-align: center;
}
a:link:hover {
    background-color: white;
}
.links {
    text-decoration: none;
    padding-right: 35px;
    padding-left: 37px;
    text-align: center;
    background-color: rgba(226, 226, 226, 0.664);
    color: black;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    text-align: center;
    font-size: 40px;
}
.list {
    position: relative;
    left: 100px;
}
.main-section{
    padding: 0px 200px 25px 200px;
    border-bottom: 5px double rgb(37, 78, 153);
}
.products-section {
    padding: 0px 200px 25px 200px;
    margin-top: 50px;
    border-bottom: 5px double rgb(37, 78, 153);
    
}
.column {
    float: left;
    padding: 0px 10px 0px 10px;
}
.row::after {
    content: '';
    clear: both;
    display: table;
}
.header-photo {
    display: block;
    padding-top: 50px;
    margin-bottom: 50px;
    height: 370px;
    width: 450px;
}
.compare {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(37, 78, 153);
}
.compare th, .compare td {
    border: 1px solid rgb(37, 78, 153);
    padding: 8px;
}
.compare th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border: 1px solid rgb(37, 78, 153);
}
.pricing-section {
    padding: 50px 350px 50px 350px;
    border-bottom: 5px double rgb(37, 78, 153);
    background-color: #c6ccd8;
}
.color {
    background-color:rgba(79, 161, 216, 0.664);
}
.compare tr:nth-child(even) {
    background-color: rgba(118, 178, 218, 0.233);
}
#main-font-size {
    font-size: x-large;
}
#list-font-size {
    font-size: x-large;
}
#footer-text-color {
    color: white;
}
footer {
    background-color: #000000;
}
.footer {
    position: sticky;
    left:0;
    bottom:0;
    width:100%;
    background-color: #000000;
}
main {
    background-color: #c6ccd8;
}
.table-color {
    background-color: white;
}
header {
    background-color: #c6ccd8;
}
.product-links {
    background-color: white;
}