* {
    margin: 0;
    font-family: 'Courgette', cursive;
}
.logo {
    display: none;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 154);
    padding: 10px;
    font-family: 'Courgette', cursive;
    position: sticky;
    top: 0;
}
.nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.link-one:hover {
    background-color: rgba(144, 238, 144, 0.288);
}
.link-two:hover {
    background-color: rgba(144, 238, 144, 0.288);
}
.link-three:hover {
    background-color: rgba(144, 238, 144, 0.288);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.pic {
    grid-column: 1/-1;
    grid-row: 1;
    width: 100%;
}
.head1 {
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center;
    margin-top: 25px;
}
.para1 {
    grid-column: 2/12;
    grid-row: 3;
    font-size: 20px;
    margin-top: 15px;
    border: 3px solid yellowgreen;
    background-color: lightyellow;
    border-radius: 5px;
    padding: 10px;
}
.head2 {
    grid-column: 1/-1;
    grid-row: 4;
    text-align: center;
    margin-top: 25px;
}
.para2 {
    grid-column: 2/12;
    grid-row: 5;
    font-size: 20px;
    margin-top: 15px;
    border: 3px solid yellowgreen;
    background-color: lightyellow;
    border-radius: 5px;
    padding: 10px;
}
.meet-team {
    display: flex;
    flex-direction: column;
}
.span {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 25px;
}
.team-head {
    text-align: center;
    margin-top: 25px;
}
.team-photo1 {
    margin-top: 20px;
}
.footer {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.contact {
    font-size: 20px;
    text-decoration: none;
    color:  yellowgreen;
    grid-column: 1/-1;
    text-align: center;
    margin-top: 10px;
}
.contact:hover {
    color: rgba(255, 255, 0, 0.404);
}
.contact-logo {
    height: 25px;
    width: 25px;
}
.contact-logo:hover{
    box-shadow: 2px 4px 16px 8px rgba(255, 255, 0, 0.404);
    transition: 500ms;
}
.finder-link {
    font-size: 20px;
    text-decoration: none;
    color: yellowgreen;
    grid-column: 1/-1;
    grid-row: 3;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.finder-link:hover {
    color: rgba(255, 255, 0, 0.404);
}
.conlogo1 {
    grid-column: 3/4;
    grid-row: 2;
    margin-top: 10px;
}
.conlogo2 {
    grid-column: 4/5;
    grid-row: 2;
    margin-top: 10px;
}
.conlogo3 {
    grid-column: 5/6;
    grid-row: 2;
    margin-top: 10px;
}
@media only screen and (min-width: 1025px) {
    .logo {
        height: 300px;
        width: 300px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .nav a {
        font-size: 25px;
    }
    header {
        background-color: rgb(253, 253, 154);
    }
    .pic {
        display: none;
    }
    .head1 {
        grid-column: 1/-1;
        grid-row: 2;
        text-align: center;
        margin-top: 30px;
        font-size: 50px;
    }
    .para1 {
        grid-column: 2/12;
        grid-row: 3;
        font-size: 30px;
        margin-top: 25px;
        border: 5px solid yellowgreen;
        background-color: lightyellow;
        border-radius: 5px;
        padding: 20px;
    }
    .head2 {
        grid-column: 1/-1;
        grid-row: 4;
        text-align: center;
        margin-top: 30px;
        font-size: 50px;
    }
    .para2 {
        grid-column: 2/12;
        grid-row: 5;
        font-size: 30px;
        margin-top: 25px;
        border: 5px solid yellowgreen;
        background-color: lightyellow;
        border-radius: 5px;
        padding: 20px;
    }
    .team-head {
        font-size: 50px;
    }
    .team-photo1 {
        height: 800px;
        width: 700px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 5px solid yellowgreen;
    }
    .team-photo2 {
        height: 800px;
        width: 700px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 5px solid yellowgreen;
    }
    .team-photo3 {
        height: 800px;
        width: 700px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 5px solid yellowgreen;
    }
    .team-photo4 {
        height: 800px;
        width: 700px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 5px solid yellowgreen;
    }
    .footer {
        background-color: black;
        height: 250px;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .contact {
        font-size: 25px;
        text-decoration: none;
        color:  yellowgreen;
        margin-top: 10px;
    }
    .contact:hover {
        color: rgba(255, 255, 0, 0.404);
    }
    .contact-logo {
        height: 50px;
        width: 50px;
    }
    .contact-logo:hover{
        box-shadow: 2px 4px 16px 8px rgba(255, 255, 0, 0.404);
        transition: 500ms;
    }
    .finder-link {
        font-size: 25px;
        text-decoration: none;
        color: yellowgreen;
    }
    .finder-link:hover {
        color: rgba(255, 255, 0, 0.404);
    }
}