* {
    margin: 0;
    font-family: 'Courgette', cursive;
}
.logo {
    display: none;
}
.main-pic {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 154);
    padding: 10px;
    font-family: 'Courgette', cursive;
    position: sticky;
    top: 0;
}
.nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.link-one:hover {
    background-color: rgba(144, 238, 144, 0.288);
}
.link-two:hover {
    background-color: rgba(144, 238, 144, 0.288);
}
.link-three:hover {
    background-color: rgba(144, 238, 144, 0.288);
}
.welcomemessage {
    grid-column: 1/-1;
    grid-row: 1;
    margin: 0px 15px 0px 15px;
    font-size: 20px;
    margin-top: 25px;
}
.welcome-message ol {
    margin-top: 10px;
}
.customers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 25px;
}
.header-two {
    grid-column: 1/-1;
    grid-row: 1;
    margin: 0px 15px 0px 15px;
    font-size: 20px;
}
.feed-back1 {
    margin: 25px 15px 0px 15px;
    font-size: 15px;
    grid-column: 1/-1;
    grid-row: 2;
    border: 3px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    background-color: lightyellow;
}
.feed-back2 {
    margin: 25px 15px 0px 15px;
    font-size: 15px;
    grid-column: 1/-1;
    grid-row: 3;
    border: 3px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    background-color: lightyellow;
}
.feed-back3 {
    margin: 25px 15px 0px 15px;
    font-size: 15px;
    grid-column: 1/-1;
    grid-row: 4;
    border: 3px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    background-color: lightyellow;
}
.feed-back4 {
    margin: 25px 15px 0px 15px;
    font-size: 15px;
    grid-column: 1/-1;
    grid-row: 5;
    border: 3px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    background-color: lightyellow;
}
.header-two2 {
    font-size: 20px;
    grid-column: 1/-1;
    grid-row: 6;
    margin-top: 25px;
    margin: 25px 15px 15px 15px;
}
.footer {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.contact {
    font-size: 20px;
    text-decoration: none;
    color:  yellowgreen;
    grid-column: 1/-1;
    text-align: center;
    margin-top: 10px;
}
.contact:hover {
    color: rgba(255, 255, 0, 0.404);
}
.contact-logo {
    height: 25px;
    width: 25px;
}
.contact-logo:hover{
    box-shadow: 2px 4px 16px 8px rgba(255, 255, 0, 0.404);
    transition: 500ms;
}
.finder-link {
    font-size: 20px;
    text-decoration: none;
    color: yellowgreen;
    grid-column: 1/-1;
    grid-row: 3;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.finder-link:hover {
    color: rgba(255, 255, 0, 0.404);
}
.conlogo1 {
    grid-column: 3/4;
    grid-row: 2;
    margin-top: 10px;
}
.conlogo2 {
    grid-column: 4/5;
    grid-row: 2;
    margin-top: 10px;
}
.conlogo3 {
    grid-column: 5/6;
    grid-row: 2;
    margin-top: 10px;
}
@media only screen and (min-width: 1025px) {
    * {
        margin: 0px;
        font-family: 'Courgette', cursive;
    }
    header {
        background-color: rgb(253, 253, 154);
    }
    .nav {
        background-color: rgb(253, 253, 154);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-family: 'Courgette', cursive;
    }
    .nav a {
        font-size: 25px;
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    .link-one:hover {
        background-color: rgba(144, 238, 144, 0.288);
    }
    
    .link-two:hover {
        background-color: rgba(144, 238, 144, 0.288);
    }
    
    .link-three:hover {
        background-color: rgba(144, 238, 144, 0.288);
    }
    .logo {
        height: 300px;
        width: 300px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 50px;
    }
    .main-pic {
        grid-column: 2/6;
        grid-row: 1;
        border: 5px solid yellowgreen;
    }
    .welcomemessage {
        grid-column: 7/12;
        grid-row: 1;
        margin-top: 10px;
        font-size: 2em;
    }
    .welcomemessage > p {
        font-weight: 500;
        margin-top: 25px;
    }
    .welcomemessage > ol {
        font-weight: 500;
        margin-top: 25px;
        margin-left: 25px;
    }
    .customers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 100px;
    }
    .header-two {
        font-size: 50px;
        grid-column: 2/4;
        grid-row: 1;
    }
    .feed-back1 {
        margin-top: 50px;
        font-size: 25px;
        grid-column: 2/4;
        grid-row: 2;
        border: 5px solid lightgreen;
        border-radius: 10px;
        padding: 10px;
        background-color: lightyellow;
    }
    .feed-back2 {
        margin-top: 50px;
        font-size: 25px;
        grid-column: 2/4;
        grid-row: 3;
        border: 5px solid lightgreen;
        border-radius: 10px;
        padding: 10px;
        background-color: lightyellow;
    }
    .feed-back3 {
        margin-top: 50px;
        font-size: 25px;
        grid-column: 2/4;
        grid-row: 4;
        border: 5px solid lightgreen;
        border-radius: 10px;
        padding: 10px;
        background-color: lightyellow;
    }
    .feed-back4 {
        margin-top: 50px;
        font-size: 25px;
        grid-column: 2/4;
        grid-row: 5;
        border: 5px solid lightgreen;
        border-radius: 10px;
        padding: 10px;
        background-color: lightyellow;
    }
    .header-two2 {
        font-size: 50px;
        grid-column: 2/4;
        grid-row: 6;
        margin-top: 50px;
    }
    .footer {
        background-color: black;
        height: 250px;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .contact {
        font-size: 25px;
        text-decoration: none;
        color:  yellowgreen;
        margin-top: 10px;
    }
    .contact:hover {
        color: rgba(255, 255, 0, 0.404);
    }
    .contact-logo {
        height: 50px;
        width: 50px;
    }
    .contact-logo:hover{
        box-shadow: 2px 4px 16px 8px rgba(255, 255, 0, 0.404);
        transition: 500ms;
    }
    .finder-link {
        font-size: 25px;
        text-decoration: none;
        color: yellowgreen;
    }
    .finder-link:hover {
        color: rgba(255, 255, 0, 0.404);
    }
}